@import 'vars.scss';

* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: var(--bgcolor);
  width: 100%;
  // overflow-y: hidden;
  font: $font-style;
}

.container {
  @include w-from($screen-lg) {
    width: $tablet-size;
    margin: 0 auto;
    border: $tablet-border solid var(--backgroundcolor);
    border-top: none;
  }
}