@import 'mixins.scss';

$screen-sm: 320px;
$screen-lg: 1024px;

:root {
  --bgcolor:         #ffffff;
  --backgroundcolor: #ffebe3;
  --border-color:    #fcc1a9;
  --title-color:     #000000;
  --subtitle-color:  #4b4b4b;
  --progress-color:  #ff6c34;
  --important:         #e52515
}

$tablet-size: 800px;
$tablet-border: 10px;

$font-big-style: normal 22px "Roboto", "Arial";
$font-style: normal 18px "Roboto", "Arial";

%header-block {
  height: 6vw;
  width: 41vw;
  margin-top: 10px;
  @include w-from($screen-lg) {
    width: 100%;
    height: 40px;
  }
}

%header-font {
  font-weight: normal;
  line-height: 1.2;
}

%list-blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
}