doctype html
html(lang="ru")
  head
    include parts/head.pug
    link(rel="stylesheet" href="styles/index.css")
  body
    .container
      include parts/header.pug
      main.today
          div.today-add
              input(type="text" placeholder="Введите задачу").today-add__message 
          ul.today-list
  script(src="scripts/index.js")