header.header
  img(src="assets/character/snake.png" alt="snake").header__img
  .header-info
    h1.header-info__name Змейка
    h2.header-info__lvl Уровень <span class="lvl-count"></span>
    progress(max=100).header-info__progress
    button.header-info__button новый день
    